[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"

[packages]
flask = "*"
flask-jwt-extended = "*"
flask-restplus = "*"
psycopg2-binary = "*"
werkzeug = "==0.16.1"
flask-sqlalchemy = "*"
flask-migrate = "*"
pytest = "*"

[requires]
python_version = "3.8"
